<ng-container>
  <div class="configurator-main">
    <aw-wizard navBarLayout="large-filled-symbols" class="custom-step">
        <aw-wizard-step stepTitle="Playground" (stepEnter)="onStepEnter($event)">
            <ng-template awWizardStepSymbol><i class="fas fa-globe"></i></ng-template>
          <div class="step-container">
            <div class="step-content" [@appearance]="curStep == 0 ? 'appear' : ''">
              <nn-config-playground [(selected)]="selectedPlayground"></nn-config-playground>
            </div>
              <div class="step-nav">
                <button class="btn btn-highlight btn-rect btn-sm" awNextStep>Next <i class="fas fa-caret-right"></i></button>
              </div>
          </div>
        </aw-wizard-step>

      <aw-wizard-step stepTitle="Introduction" (stepEnter)="onStepEnter($event)">
          <ng-template awWizardStepSymbol><i class="fas fa-book"></i></ng-template>
        <div class="step-container">
          <div class="step-content" [@appearance]="curStep == 1 ? 'appear' : ''">
            <nn-config-builtin></nn-config-builtin>
          </div>
            <div class="step-nav">
              <button class="btn btn-highlight btn-rect btn-sm" awPreviousStep><i class="fas fa-caret-left"></i> Previous</button>
              <button class="btn btn-highlight btn-rect btn-sm" awNextStep>Next <i class="fas fa-caret-right"></i></button>
            </div>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Neural Network" (stepEnter)="onStepEnter($event)">
          <ng-template awWizardStepSymbol><i class="fas fa-cog"></i></ng-template>
        <div class="step-container">
          <div class="step-content" [@appearance]="curStep == 2 ? 'appear' : ''">
            <nn-config-neural-network *ngIf="selectedPlayground === playgrounds.CUSTOM" [disableLayers]="hasSamples" [save]="saveNeuralNetworkPhase"></nn-config-neural-network>
          </div>
            <div class="step-nav">
              <button class="btn btn-highlight btn-rect btn-sm" awPreviousStep><i class="fas fa-caret-left"></i> Previous</button>
              <button class="btn btn-highlight btn-rect btn-sm" awNextStep (click)="saveNeuralNetworkPhase.emit()">Next <i class="fas fa-caret-right"></i></button>
            </div>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Dataset/Samples" (stepEnter)="onStepEnter($event)">
        <ng-template awWizardStepSymbol><i class="fas fa-database"></i></ng-template>
        <div class="step-container">

          <div class="step-content" [@appearance]="curStep === 3 ? 'appear' : ''">
            <nn-config-dataset [save]="saveDatasetPhase" [activated]="(curStep === 3)" (samplesChanged)="samplesChanged($event)"></nn-config-dataset>
          </div>
          <div class="step-nav">
              <button class="btn btn-highlight btn-rect btn-sm" awPreviousStep><i class="fas fa-caret-left"></i> Previous</button>
              <button [disabled]="!hasSamples" class="btn btn-highlight btn-rect btn-sm" (click)="saveDatasetPhase.emit(); finish()">Build Neural Network <i class="fas fa-caret-right"></i></button>
              <!-- <div class="col-4">
                <button [disabled]="!hasSamples" class="btn btn-highlight btn-rect btn-sm" (click)="saveTrainingPhase.emit(); finish()">Create Neural Network</button>
              </div> -->
          </div>
        </div>
      </aw-wizard-step>
      <!-- <aw-wizard-step stepTitle="Build" (stepEnter)="onStepEnter($event)">
        <ng-template awWizardStepSymbol><i class="fas fa-project-diagram"></i></ng-template>
        <div class="step-container">
          <div class="step-content" [@appearance]="curStep == 4 ? 'appear' : ''">
            <nn-config-execution [save]="saveExecutionPhase" [activated]="curStep === 3"></nn-config-execution>
          </div>
          <div class="step-nav">
              <button class="btn btn-highlight btn-rect btn-sm mr-5" (finalize)="saveExecutionPhase.emit()" awPreviousStep><i class="fas fa-caret-left"></i> Previous</button>
              <button [disabled]="!hasSamples" class="btn btn-highlight btn-rect btn-sm" (click)="saveExecutionPhase.emit(); finish()">Build Neural Network</button>
          </div>
      </div>
      </aw-wizard-step> -->
    </aw-wizard>
  </div>
</ng-container>
