.graph-view {
  width: 1250px;
  height: 800px;
}

.btn-outtable {
  fill: #ffffff;
  cursor: pointer;
}

.btn-errtable {
  fill: #ff5959;
  cursor: pointer;
}

.btn-weighttable {
  fill: #fffc59;
  cursor: pointer;
}



