.bottom-nav {
  width: 400px;
  background: #305796;
  background: linear-gradient(0deg, #305796 85%, #3a9fec 95%, );
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-radius: 3px 3px 0 0;
  border-left: 3px solid #5CF0FD;
  border-right: 3px solid #5CF0FD;
  border-top: 3px solid #5CF0FD;
}


